<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title> <!-- 動態設定標題，如果未提供則使用預設標題 -->
    {% else %}
        <title>Flask Blog</title> <!-- 預設標題 -->
    {% endif %}
</head>
<body>
    <header class="site-header"> <!-- 頁面標頭 -->
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top"> <!-- 導覽列 -->
        <div class="container"> <!-- 限制導覽列內容的寬度 -->
          <a class="navbar-brand mr-4" href="/">Flask Blog</a> <!-- 網站名稱連結至首頁 -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <!-- 手機版展開按鈕 -->
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle"> <!-- 可折疊的導覽列 -->
            <div class="navbar-nav mr-auto"> <!-- 導覽列左側連結 -->
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a> <!-- 首頁連結 -->
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a> <!-- 關於頁連結 -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav"> <!-- 導覽列右側連結 -->
              {% if current_user.is_authenticated %} <!-- 檢查使用者是否已登入 -->
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a> <!-- 帳戶頁連結 -->
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a> <!-- 登出連結 -->
              {% else %} <!-- 如果未登入 -->
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a> <!-- 登入連結 -->
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a> <!-- 註冊連結 -->
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container"> <!-- 主要內容區 -->
      <div class="row"> <!-- 定義主要版面配置 -->
        <div class="col-md-8"> <!-- 主要內容區域 -->
          {% with messages = get_flashed_messages(with_categories=true) %} <!-- 顯示 Flask 的 flash 訊息 -->
            {% if messages %}
              {% for category, message in messages %} <!-- 遍歷所有訊息 -->
                <div class="alert alert-{{ category }}">
                  {{ message }} <!-- 顯示訊息內容 -->
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %} <!-- 內容區塊，供其他模板繼承 -->
        </div>
        <div class="col-md-4"> <!-- 側邊欄區域 -->
          <div class="content-section"> <!-- 側邊欄內容分區 -->
            <h3>Our Sidebar</h3> <!-- 側邊欄標題 -->
            <p class='text-muted'>You can put any information here you'd like. <!-- 側邊欄描述 -->
              <ul class="list-group"> <!-- 側邊欄清單 -->
                <li class="list-group-item list-group-item-light">Latest Posts</li> <!-- 最新文章 -->
                <li class="list-group-item list-group-item-light">Announcements</li> <!-- 公告 -->
                <li class="list-group-item list-group-item-light">Calendars</li> <!-- 日曆 -->
                <li class="list-group-item list-group-item-light">etc</li> <!-- 其他項目 -->
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
